<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <i class="fa fa-bullhorn fa-lg" ></i> Hi! I'm {{ displayFirstName() }} {{ lastName ? lastName : '...' }} </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>

    </ul>

  </div>
</nav>

<!-- Prácticas -->
<div class="container">
 <div class="row">
   <div class="col-md-6">
      <label for="status">Active</label>
      <input type="radio" name="" id="status" [checked]="status" (click)="activatePerson()">
      <button (click)="deactivatePerson()">DEACTIVATE</button>
   </div>
   <div class="col-md-3 box" (mouseover)="mousingOver()">
   </div>
   <div class="col-md-3">
     <input (keydown)="keyDowning()" type="text">
  </div>
 </div>
</div>

<div class="container">

  <router-outlet></router-outlet>

</div>

<div class="container">
  <app-footer></app-footer>
</div>